# API Keys
API_FOOTBALL_KEY=

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/nitbox

# Redis
REDIS_URL=redis://localhost:6379

# App
NODE_ENV=development
API_PORT=3001
WEB_PORT=3000
ML_PORT=8000
